.header__columns {
  padding-inline: 0 !important;

  @media screen and (min-width: 750px) {
    padding-block: var(--padding-xl) !important;
    padding-inline: var(--padding-xl) !important;
  }

  &.spacing-style {
    gap: 20px;

    @media screen and (min-width: 750px) {
      &:has(.header__column--center header-menu) {
        --header-left: auto;
        --header-center: 1fr;
        --header-right: auto;
      }
    }
  }
}